* {
  margin: 0;
  padding: 0;
}
:root {
  --background-black: rgb(39, 41, 50);
  --white: rgb(231, 236, 239);
  --pink: rgb(203, 118, 158);
  --green: rgb(94, 140, 97);
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--background-black);
  color: var(--white);
  position: relative;
  height: 100vh;
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
}
.background-border {
  position: absolute;
  width: 400px;
  height: 400px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  z-index: -1;
}
.top-left-border {
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top-left-radius: 10px;
  top: 10px;
  left: 50px;
  background-image: linear-gradient(rgb(39, 41, 50), rgb(39, 41, 50)),
    linear-gradient(135deg, var(--green) 0%, var(--pink) 50%);
}
.bottom-right-border {
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom-right-radius: 10px;
  bottom: 10px;
  right: 50px;
  background-image: linear-gradient(rgb(39, 41, 50), rgb(39, 41, 50)),
    linear-gradient(-45deg, var(--green) 0%, var(--pink) 50%);
}
.list-border {
  position: absolute;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
  border-top-left-radius: 10px;
  width: 80px;
  height: 100px;
  background-image: linear-gradient(rgb(39, 41, 50), rgb(39, 41, 50)),
    linear-gradient(135deg, var(--green) 0%, var(--pink) 50%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  z-index: -1;
}

.content-container {
  padding: 60px 90px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .background-border {
    width: 100px;
    height: 200px;
    position: fixed;
    border-width: 4px;
  }
  .top-left-border {
    left: 20px;
  }
  .bottom-right-border {
    right: 20px;
  }
  .content-container {
    padding: 60px 30px;
  }
  .list-border {
    width: 60px;
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    margin: 0 10vw;
  }
}
@media only screen and (min-width: 1500px) {
  body {
    margin: 0 15vw;
  }
}
