* {
  margin: 0;
  padding: 0;
}
:root {
  --background-black: rgb(39, 41, 50);
  --white: rgb(231, 236, 239);
  --pink: rgb(203, 118, 158);
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--background-black);
  color: var(--white);
  position: relative;
  height: 100vh;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}
.background-deco {
  position: absolute;
  width: 400px;
  height: 400px;
}
.top-left {
  border-top: 10px solid var(--pink);
  border-left: 10px solid var(--pink);
  border-top-left-radius: 10px;
  top: 10px;
  left: 50px;
}
.bottom-right {
  border-bottom: 10px solid var(--pink);
  border-right: 10px solid var(--pink);
  border-bottom-right-radius: 10px;
  bottom: 10px;
  right: 50px;
}
.list-deco {
  position: absolute;
  border-left: 4px solid var(--pink);
  border-top: 4px solid var(--pink);
  border-top-left-radius: 10px;
  width: 80px;
  height: 100px;
  z-index: 0;
}

.content-container {
  padding: 60px 90px 60px 90px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .background-deco {
    width: 100px;
    height: 200px;
    border-width: 4px;
    position: fixed;
  }
  .top-left {
    left: 20px;
  }
  .bottom-right {
    right: 20px;
  }
  .content-container {
    padding: 30px;
  }
  .list-deco {
    width: 60px;
    height: 30px;
  }
}
