header {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  position: relative;
  z-index: 10;
}
nav {
  display: flex;
}
.profile-picture {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgb(231, 236, 239);
}
.icons-icon {
  font-size: 32px;
  color: rgb(231, 236, 239, 0.8);
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color border-radius 0.3s;
  border-radius: 50%;
}
.icons-icon:hover {
  background-color: rgba(203, 118, 158, 0.7);
}
.icons-icon:active {
  background-color: rgb(39, 41, 50);
}
.icons-link {
  text-decoration: none;
  margin-left: 30px;
  height: 60px;
}
.menu-button {
  display: none;
}
.menu-icon {
  font-size: 50px;
  color: rgb(231, 236, 239, 0.8);
}
@media only screen and (max-width: 768px) {
  .profile-picture {
    display: none;
  }
  .icons-link {
    display: none;
  }

  .menu-button {
    display: contents;
  }
}
