:root {
  --background-black: rgb(39, 41, 50);
  --white: rgb(231, 236, 239);
  --pink: rgb(203, 118, 158);
  --green: rgb(94, 140, 97);
}
main {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 10;
}

.my-info-container {
  width: 70%;
  margin-top: 60px;
  margin-left: 40px;
}

.projects-contianer {
  width: 30%;
  padding-left: 20px;
  position: relative;
}

.title {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 20px;
  padding-left: 25px;
}

h1 {
  margin: 0;
}

.my-info {
  padding-left: 15px;
  font-size: 1rem;
  line-height: 2rem;
  border-left: 4px solid transparent;
  padding-right: 60px;
  background-image: linear-gradient(rgb(39, 41, 50), rgb(39, 41, 50)),
    linear-gradient(to bottom, var(--green) 0%, var(--pink) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

ul {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 30px;
  z-index: 10;
}
li {
  margin-bottom: 40px;
}

.project-link {
  text-decoration: none;
  color: var(--white);
  white-space: nowrap;
  padding: 10px 16px;
  transition: background-color 0.15s;
  border-radius: 30px;
}
.project-link:hover {
  background-color: var(--pink);
}
.project-link:active {
  background-color: var(--background-black);
}
.main-contiainer {
  height: 100%;
}
p {
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
  main {
    flex-direction: column;
    row-gap: 30px;
  }
  .title {
    margin-top: 30px;
  }
  .my-info-container {
    margin: 0;
    width: 100%;
  }
  .my-info {
    border-left: none;
    border-top: 4px solid transparent;
    background-image: linear-gradient(rgb(39, 41, 50), rgb(39, 41, 50)),
      linear-gradient(to right, var(--green) 0%, var(--pink) 100%);
    padding: 0;
    margin: 0 20px;
    padding-top: 20px;
  }
  .subtitle {
    margin-bottom: 16px;
  }
  .main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
